# Node + build artifacts
node_modules
dist
build

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# dotenv
.env
.env.*.local

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Test coverage
coverage
.nyc_output
